/*Common*/
html {
    height: 100%;
}
body {
    /*background-image: url();*/
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    font-family: Calibri;
    height: 100%;
    min-height: 600px;
    position: relative;
}
img {
    border:0;
}

.form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input {
    box-sizing: border-box;
    padding: 1px 0px;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
}
textarea {
    box-sizing: border-box;
    height: auto;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(250, 255, 189);
    background-image: none;
    color: rgb(0, 0, 0);
}
input, textarea, keygen, select, button {
    margin: 0em;
    font: normal normal normal 13.3333330154419px/normal Arial;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    color: #ffffff;
    background-color: #dd4814;
    border-color: #dd4814;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
}

button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: firebrick;
    outline: none;
}

button:active, html input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
    padding: 10px 14px 6px 10px;
    outline: none;
}
input:invalid {
    border: solid 2px red;
}
.hidden {
    display: none;
}

/*********Header***************/
.logo {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: inherit;
}
.logo_link {
    vertical-align: sub;
}
.lang {
    float: right;
    text-decoration: none;
    color: black;
    margin: 10px;
}
.lang:hover {
    color: firebrick;
}
.header_name {
    margin: 10px;
    font-size: 65px;
    color: orangered;
    display: inline-block;
    font-family: "Times New Roman";
}
.logout {
    float: right;
    text-decoration: none;
    color: black;
    margin: 30px -75px 10px 10px;
    font-size: 15px;
}
.logout:hover {
    color: firebrick;
}
.motto {
    font-size: 25px;
    margin: 0px 10px 10px 300px;
}
.buttons_block {
    float: right;
    margin: 50px -100px 10px 10px;
}
.search_button {
    display: inline-block;
    background: url("../img/icons/search.png") left top no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    background-origin: content-box;
    margin: 10px;
}
.search_button:hover {
    background-image: url("../img/icons/search_hover.png");
}
.settings_button {
    display: inline-block;
    background: url("../img/icons/settings.png") left top no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    background-origin: content-box;
    margin: 10px;
}
.settings_button:hover {
    background-image: url("../img/icons/settings_hover.png");
}
.profile_button {
    display: inline-block;
    background: url("../img/icons/home.png") left top no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    background-origin: content-box;
    margin: 10px;
}
.profile_button:hover {
    background-image: url("../img/icons/home_hover.png");
}

/*********Menu***************/
nav.menu {
    text-align: center;
    border-top: solid 1px chocolate;
    border-bottom: solid 1px chocolate;
    margin: 0 auto;
}
nav.menu ul {
    padding-left: 0;
    margin: 10px;
}
nav.menu ul li {
    display: inline-block;
    list-style-type: none;
    margin: 90px 50px 15px;
    position: relative;
}
nav.menu li a {
    text-decoration: none;
    color: #050505;
    font-size: 18px;
    padding: 5px 10px;
    padding-top: 90px;
}
nav.menu li a:hover {
    color: firebrick;
}
nav.menu li a.myWishes {
    background: url("../img/icons/boxMy.png") top center no-repeat;
    background-size: 100px 100px;
}
nav.menu li a.wishesByMe {
    background: url("../img/icons/boxOther.png") top center no-repeat;
    background-size: 100px 100px;
}
nav.menu li a.messages {
    background: url("../img/icons/messages.png") top center no-repeat;
    background-size: 100px 100px;
}
.messages_amount {
    position: absolute;
    top: -75px;
    right: 10px;
    display: inline-block;
    background-color: yellow;
    border: solid 1px yellow;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    color: darkred;
    font-size: 20px;
}
/*********Login and registration***************/
.login_form, .registration_form {
    width: 300px;
    margin: 100px auto;
    padding: 40px;
    background: #FEFFDF;
    border: solid 2px firebrick;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 18px #3f241d;
    box-shadow: 0 5px 18px #3f241d;
    text-align: center;
}
.registration_form {
    width: 460px;
    margin-top: 50px;
}
.registration_form .reg_table, .info_editor_table {
    width: 100%;
}
.login_form .label, .login_form .errorLabel, .registration_form .label {
    font-size: 20px;
    line-height: 38px;
    margin: 8px;
}
.login_form .form-control, .registration_form .form-control {
    margin: 3px;
}
.sign_in_button {
    margin-top: 30px;
    margin-right: -5px;
}
.sign_up_button {
    display: block;
    margin-top: -57px;
}
.login_form .errorMessage {
    color: firebrick;
    font-size: 19px;
    margin: 5px;
}
.registration_form .errorMessage {
    color: firebrick;
    margin: 10px;
}
.reg_part {
    margin: 0 0 15px;
}
.reg_part p {
    display: inline-block;
    padding: 2px;
    font-size: 20px;
    width: 24px;
    margin: 0;
}
.reg_part .curr {
    border: solid 1px chocolate;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 5px chocolate;
    box-shadow: 0 0 5px chocolate;
}
.continue_button {
    margin-top: 15px;
    float: right;
}
.continue_button_td {
    text-align: right;
}
.continue_back_button_td {

}
.quit_button {
    display: block;
    margin-left: 10px;
    background-color: transparent;
    color: #dd4814;
    border-color: #dd4814;
}
.quit_button:hover {
    background-color: transparent;
    color: firebrick;
    border-color: firebrick;
}
.reg1_quit_button {
    margin-top: -57px;
}
.back_button {
    display: block;
    margin-left: 7px;
    margin-top: 15px;
    float: left;
}
.wish_label_td {
    vertical-align: top;
}
.add_wish_button {
    position: absolute;
    top: 358px;
    right: 225px;
    background: transparent;
    font-size: 50px;
    padding: 0;
    color: #dd4814;
    line-height: 1;
}
.add_wish_button:hover {
    background: transparent;
    color: green;
}
.add_wish_button:active {
    padding: 0;
}
.add_wish_button:focus, .add_wish_button:hover, .add_wish_button:active {
    outline: none;
}
.wishes_explanation {
    font-size: 16px;
    margin: 10px;
    color: #dd4814;
}
span.required {
    color: firebrick;
    font-size: 16px;
}

/*********Profile and user page***************/
.userPhotoBlock {
    float: left;
    margin: 30px;
    width: 200px;
    text-align: center;
}
.userPhoto {
    width: 200px;
    height: 200px;
    padding-bottom: 5px;
}
.userPhotoBlock:hover .changePhotoButton {
    display: inline;
    opacity: 0.6;
}
.changePhotoButton {
    margin-top: -41px;
    width: 200px;
    text-align: center;
    background-color: #333333;
    opacity: 0;
    border-radius: 0;
    border: none;
}
.infoBlock {
    margin: 50px 5px;
    height: 200px;
    position: relative;
    margin-left: 250px;
}
.infoBlock .userName {
    font-size: 30px;
    display: inline;
    color: darkred;
}
.infoBlock .userStatus {
    color: #616161;
    display: inline;
    margin-left: 10px
}
.infoBlock:hover .editInfoLink, .abilitiesBlock:hover .editAbilitiesLink {
    display: inline;
}
.editInfoLink, .editAbilitiesLink {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: underline;
    color: #848181;
    font-style: italic;
    padding-left: 15px;
    background: url("../img/icons/pencil.png") left center no-repeat;
    background-size: 15px 15px;
}
.infoBlock .userAddress {
    font-size: 20px;
}
.infoBlock .userBirthdate {
    font-size: 18px;
}
.abilitiesBlock {
    width: 100%;
    margin-top: -20px;
    position: relative;
}
.abilitiesLabel, .wishesLabel {
    padding-left: 20px;
    color: darkred;
    font-size: 24px;
}
.abilities {
    padding-left: 30px;
}
.wishes_block th {
    float: left;
    padding-left: 10px;
}
.wishes_block table {
    font-size: 20px;
}
.infoBlock .usersWishes, .infoBlock .wishesByUser {
    display: inline-block;
    text-decoration: none;
    color: #050505;
    font-size: 16px;
    width: 50px;
    height: 50px;
    padding: 5px;
    float: left;
}
.infoBlock .usersWishes {
    background: url("../img/icons/boxMy.png") top center no-repeat;
    background-size: 50px 50px;
}
.infoBlock .wishesByUser {
    background: url("../img/icons/boxOther.png") top center no-repeat;
    background-size: 50px 50px;
}
.sendMessageButton {
    float: left;
    font-size: 13px;
    margin-left: 15px;
}

/*********Settings***************/
.changeEmail {
    width: 300px;
    float: left;
    margin-right: 15px;
}
.changePasswordBlock, .changeEmailBlock, .changePasswordButton, .changeEmailButton {
    margin: 15px;
}
.saveChangedPasswordButton {
    margin-top: 5px;
}

/*********Editing***************/
.cancelEditButton {
    float: left;
    margin-top: -57px;
}
.abilities_edit_form {
    padding-bottom: 100px;
}
.saveAbilitiesChangesButton {
    float: right;
    margin-top: 12px;
}
.cancelAbilitiesEditButton {
    float: left;
}
.abilities_textarea {
    min-width: 460px;
    max-width: 460px;
    height: 100px;
}

/***********Wishes tables************/
.wishesTable {
    margin: 20px 5px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
}
.wishesTable>tbody>tr>td {
    border: solid 1px darkorange;
    padding: 10px;
    vertical-align: middle;
}
.wishesTable a {
    text-decoration: none;
    color: #000000;
}
.iconPhoto {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    vertical-align: middle;
}
input[type="submit"].deleteButton, input[type="submit"].cancelButton {
    width: 25px;
    height: 25px;
    margin: 5px;
    background: transparent url("../img/icons/delete.png") top center no-repeat;
    background-size: 25px 25px;
}
input[type="submit"].fulfilledButton {
    width: 25px;
    height: 25px;
    margin: 5px;
    background: transparent url("../img/icons/accept.png") top center no-repeat;
    background-size: 25px 25px;
}
input[type="submit"].deleteButton:hover, input[type="submit"].cancelButton:hover {
    width: 29px;
    height: 29px;
    background: transparent url("../img/icons/delete.png") top center no-repeat;
    background-size: 29px 29px;
    margin: 3px;
}
input[type="submit"].fulfilledButton:hover {
    width: 29px;
    height: 29px;
    background: transparent url("../img/icons/accept.png") top center no-repeat;
    background-size: 29px 29px;
    margin: 3px;
}
.cancelForm, .acceptForm {
    display: inline-block;
    margin: 0 3px;
}
.cancelLabel {
    display: inline;
}
.wishFulfilled {
    color: green;
}
.wishIsBeingPerformed {
    color: #ff775a;
}
.wishAppliedFor {
    color: #fad60a;
}
.wishesTable h5 {
    margin-bottom: 2px;
}
.makeApplicationButton {
    margin-top: 5px;
    margin-bottom: 2px;
}
.wishesTable>tbody>tr>td.deleteCell {
    width: 40px;
}
.addNewWishButton {
    margin: 0 10px 10px;
}
.addWishesBlock legend {
    font-size: 18px;
    margin: 3px;
}
.addWishesBlock .form-control {
    width: 500px;
    display: inline-block;
    margin-right: 5px;
}

/********SEARCH***************/
.searchTypes {
    margin: 10px;
    text-align: center;
}
.usersSearchButton, .wishesSearchButton {
    margin: 10px;
    margin-bottom: 30px;
    background: none;
    color: #050505;
    font-weight: bold;
    border: solid 1px #dd4814;
    padding: 5px 40px;
}
.usersSearchButton:hover, .wishesSearchButton:hover {
    background: none;
    border-color: firebrick;
    border-width: 2px;
    padding: 4px 39px;
}
.usersSearchButton.curr, .wishesSearchButton.curr {
    background: firebrick;
    color: #ffffff;
}
.searchField {
    display: inline-block;
    width: 300px;
}
.searchFilters {
    float: right;
}
.searchFilters .searchField {
    margin: 3px;
}
.searchFilters .label {
    padding-left: 5px;
}
.searchFilters .label.dateLabel {
    padding-left: 15px;
}
.findButton {
    margin: 10px;
}
.birthdayMenButton, .recentWishesButton {
    margin-top: -64px;
    margin-left: 100px;
}
.searchResultsTable {
    border-spacing: 0;
    width: 600px;
    font-size: 17px;
}
.searchResultsTable.searchWishesResults {
    width: 100%
}
.searchResultsTable a {
    text-decoration: none;
    color: black;
}
.searchResultsTable>tbody>tr>td {
    padding: 10px;
    border-bottom: solid 1px #ffcb6d;
}
.no_search_results {
    font-size: 17px;
    color: firebrick;
    margin-left: 15px;
    margin-top: 0;
}

/**********CHATS*********/
.chatsTable, .messageTable {
    border-spacing: 0;
    margin: 20px 5px;
    width: 100%;
    font-size: 20px;
    vertical-align: middle;
}
.chatsTable a, .messageTable a {
    text-decoration: none;
    color: black;
}
.chatsTable tr td {
    padding: 10px;
    background-color: #faf2cc;
    border-bottom: solid 1px #ffcb6d;
}
.unreadMessagesAmount {
    color: firebrick;
    font-weight: bold;
    text-align: right;
    float: right;
    margin: 0;
}
.sendMessageBlock {
    margin: 10px 5px;
}
.sendMessageBlock textarea {
    width: 500px;
    height: 50px;
    resize: none;
    display: inline-block;
}
.sendRealMessageButton {
    margin-top: -30px;
    margin-left: 5px;
}
.messageTable tr td {
    padding: 10px;
    border-bottom: solid 1px #b57bff;
}
.messageTable tr {
    background-color: rgb(245, 245, 255);
}
.messageTable tr.userColor {
    background-color: #ede6ff;
}
a.messageSender {
    color: #515050;
}
.messageTime {
    text-align: right;
    font-size: 16px;
}
.messageTable tr td .messageText {
    padding-left: 40px;
}
.pager {
    font-size: 17px;
    padding: 2px;
    text-align: center;
}
.pager a {
    text-decoration: none;
    color: #000000;
    margin: 2px;
}
.pager a.currentPage {
    color: #298537;
}
a.goToMessagesLink {
    width: 100%;
    height: 100%;
    display: inline-block;
}


.formWishes {
    display: inline-block;
}
/**************CHANGE PHOTO************/
.changePhotoBlock{
    margin:40px auto 0px auto;
    width:460px;
    height: 180px;
    padding: 10px;
    background-color: #FEFFDF;
    text-align: center;
    border: solid 2px firebrick;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 18px #3f241d;
    box-shadow: 0 5px 18px #3f241d;
}
.changePhotoForm input[type="file"] {
    display: block;
    background-color: #fbeed5;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.changePhotoForm input[type="submit"] {
    margin-top: 10px;
    float: right;
}
.cancelChangePhotoButton {
    float: left;
    margin-top: -5px;
}
.changePhotoBlock h3 {
    color: #953b39;
}
.changePhotoForm .errorLabel, .changePhotoForm .label {
    display: none;
}
.fileform {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    cursor: pointer;
    height: 26px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.fileform .selectbutton {
    background-color: #ffa61b;
    border: 1px solid #939494;
    border-radius: 2px;
    color: #FFFFFF;
    float: right;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    width: 60px;
}
.fileform #photo {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 30px;
    z-index:20;
}
.fileform #fileformlabel {
    background-color: #FFFFFF;
    float: left;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
    width:160px;
}

