html {
    height: 100%;
}
body {
    /*background-image: url();*/
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    font-family: Calibri;
    height: 100%;
    min-height: 600px;
    position: relative;
}
img {
    border:0;
}

.form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input {
    box-sizing: border-box;
    padding: 1px 0px;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
}
textarea {
    box-sizing: border-box;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(250, 255, 189);
    background-image: none;
    color: rgb(0, 0, 0);
}
input, textarea, keygen, select, button {
    margin: 0em;
    font: normal normal normal 13.3333330154419px/normal Arial;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    color: #ffffff;
    background-color: #dd4814;
    border-color: #dd4814;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
}

button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: #dd8823;
}

button:active, html input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
    padding: 10px 14px 6px 10px;
}

/*CUSTOM*/
/*********Header***************/
.logo {
    width: 60px;
    height: 60px;
    display: inline-block;
}
.lang {
    float: right;
    text-decoration: none;
    color: black;
    margin: 10px;
}
.lang:hover {
    color: firebrick;
}
.header_name {
    margin: 10px;
    font-size: 65px;
    color: orangered;
    display: inline-block;
    font-family: "Times New Roman";
}
.logout {
    float: right;
    text-decoration: none;
    color: black;
    margin: 30px -75px 10px 10px;
    font-size: 15px;
}
.logout:hover {
    color: firebrick;
}
.motto {
    font-size: 25px;
    margin: 0px 10px 10px 300px;
}
.buttons_block {
    float: right;
    margin: 50px -100px 10px 10px;
}
.search_button {
    display: inline-block;
    background: url("../img/icons/search.png") left top no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    background-origin: content-box;
    margin: 10px;
}
.search_button:hover {
    background-image: url("../img/icons/search_hover.png");
}
.settings_button {
    display: inline-block;
    background: url("../img/icons/settings.png") left top no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    background-origin: content-box;
    margin: 10px;
}
.settings_button:hover {
    background-image: url("../img/icons/settings_hover.png");
}
.profile_button {
    display: inline-block;
    background: url("../img/icons/home.png") left top no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    background-origin: content-box;
    margin: 10px;
}
.profile_button:hover {
    background-image: url("../img/icons/home_hover.png");
}

.userPhoto {
    display: inline-block;
    float: left;
    width: 200px;
    height: 200px;
}
#userPhoto {
    display: block;
    height: 250px;
    width: 100%;
}
#userPhoto:hover button {
    display: block;
}
.formWishes {
    display: inline-block;
}
.searchField {
    display: inline-block;
    width: 200px;
}
.userColor {
    color: #9451ff;
}
.iconPhoto {
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
}

.currentPage {
    color: #298537;
}

input:invalid {
    border: solid 2px red;
}
.hidden {
    display: none;
}
nav li {
    display: inline-block;
}