/*Common*/
html {
    height: 100%;
}
body {
    /*background-image: url();*/
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    font-family: Calibri;
    height: 100%;
    min-height: 600px;
    position: relative;
}
img {
    border:0;
}

.form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input {
    box-sizing: border-box;
    padding: 1px 0px;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
}
textarea {
    box-sizing: border-box;
    height: auto;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(250, 255, 189);
    background-image: none;
    color: rgb(0, 0, 0);
}
input, textarea, keygen, select, button {
    margin: 0em;
    font: normal normal normal 13.3333330154419px/normal Arial;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    color: #ffffff;
    background-color: #dd4814;
    border-color: #dd4814;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
}

button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: firebrick;
    outline: none;
}

button:active, html input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
    padding: 10px 14px 6px 10px;
    outline: none;
}
input:invalid {
    border: solid 2px red;
}
.hidden {
    display: none;
}

/*********Header***************/
.logo {
    width: 60px;
    height: 60px;
    display: inline-block;
}
.lang {
    float: right;
    text-decoration: none;
    color: black;
    margin: 10px;
}
.lang:hover {
    color: firebrick;
}
.header_name {
    margin: 10px;
    font-size: 65px;
    color: orangered;
    display: inline-block;
    font-family: "Times New Roman";
}
.logout {
    float: right;
    text-decoration: none;
    color: black;
    margin: 30px -75px 10px 10px;
    font-size: 15px;
}
.logout:hover {
    color: firebrick;
}
.motto {
    font-size: 25px;
    margin: 0px 10px 10px 300px;
}
.buttons_block {
    float: right;
    margin: 50px -100px 10px 10px;
}
.search_button {
    display: inline-block;
    background: url("../img/icons/search.png") left top no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    background-origin: content-box;
    margin: 10px;
}
.search_button:hover {
    background-image: url("../img/icons/search_hover.png");
}
.settings_button {
    display: inline-block;
    background: url("../img/icons/settings.png") left top no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    background-origin: content-box;
    margin: 10px;
}
.settings_button:hover {
    background-image: url("../img/icons/settings_hover.png");
}
.profile_button {
    display: inline-block;
    background: url("../img/icons/home.png") left top no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    background-origin: content-box;
    margin: 10px;
}
.profile_button:hover {
    background-image: url("../img/icons/home_hover.png");
}

/*********Menu***************/
nav.menu {
    text-align: center;
    border-top: solid 1px chocolate;
    border-bottom: solid 1px chocolate;
    margin: 0 auto;
}
nav.menu ul {
    padding-left: 0;
    margin: 10px;
}
nav.menu ul li {
    display: inline-block;
    list-style-type: none;
    margin: 90px 50px 15px;
}
nav.menu li a {
    text-decoration: none;
    color: #050505;
    font-size: 18px;
    padding: 5px 10px;
    padding-top: 90px;
}
nav.menu li a:hover {
    color: firebrick;
}
nav.menu li a.myWishes {
    background: url("../img/icons/boxMy.png") top center no-repeat;
    background-size: 100px 100px;
}
nav.menu li a.wishesByMe {
    background: url("../img/icons/boxOther.png") top center no-repeat;
    background-size: 100px 100px;
}
nav.menu li a.messages {
    background: url("../img/icons/messages.png") top center no-repeat;
    background-size: 100px 100px;
}
.messages_amount {
    position: relative;
    top: -70px;
    right: 35px;
    display: inline-block;
    background-color: yellow;
    border: solid 1px yellow;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    color: darkred;
    font-size: 20px;
}
/*********Login and registration***************/
.login_form, .registration_form {
    width: 300px;
    margin: 100px auto;
    padding: 40px;
    background: #FEFFDF;
    border: solid 2px firebrick;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 18px #3f241d;
    box-shadow: 0 5px 18px #3f241d;
    text-align: center;
}
.registration_form {
    width: 460px;
    margin-top: 50px;
}
.registration_form .reg_table, .info_editor_table {
    width: 100%;
}
.login_form .label, .login_form .errorLabel, .registration_form .label {
    font-size: 20px;
    line-height: 38px;
    margin: 8px;
}
.login_form .form-control, .registration_form .form-control {
    margin: 3px;
}
.sign_in_button {
    margin-top: 30px;
    margin-right: -5px;
}
.sign_up_button {
    display: block;
    margin-top: -57px;
}
.login_form .errorMessage {
    color: firebrick;
    font-size: 19px;
    margin: 5px;
}
.registration_form .errorMessage {
    color: firebrick;
    margin: 10px;
}
.reg_part {
    margin: 0 0 15px;
}
.reg_part p {
    display: inline-block;
    padding: 2px;
    font-size: 20px;
    width: 24px;
    margin: 0;
}
.reg_part .curr {
    border: solid 1px chocolate;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 5px chocolate;
    box-shadow: 0 0 5px chocolate;
}
.continue_button {
    margin-top: 15px;
    float: right;
}
.continue_button_td {
    text-align: right;
}
.continue_back_button_td {

}
.quit_button {
    display: block;
    margin-left: 10px;
    background-color: transparent;
    color: #dd4814;
    border-color: #dd4814;
}
.quit_button:hover {
    background-color: transparent;
    color: firebrick;
    border-color: firebrick;
}
.reg1_quit_button {
    margin-top: -57px;
}
.back_button {
    display: block;
    margin-left: 7px;
    margin-top: 15px;
    float: left;
}
.wish_label_td {
    vertical-align: top;
}
.add_wish_button {
    position: absolute;
    top: 358px;
    right: 235px;
    background: transparent;
    font-size: 50px;
    padding: 0;
    color: #dd4814;
    line-height: 1;
}
.add_wish_button:hover {
    background: transparent;
    color: green;
}
.add_wish_button:active {
    padding: 0;
}
.add_wish_button:focus, .add_wish_button:hover, .add_wish_button:active {
    outline: none;
}
.wishes_explanation {
    font-size: 16px;
    margin: 10px;
    color: #dd4814;
}

/*********Profile and user page***************/
.userPhotoBlock {
    float: left;
    margin: 30px;
    width: 200px;
    text-align: center;
}
.userPhoto {
    width: 200px;
    height: 200px;
    padding-bottom: 5px;
}
.userPhotoBlock:hover .changePhotoButton {
    display: inline;
    opacity: 0.6;
}
.changePhotoButton {
    margin-top: -41px;
    width: 200px;
    text-align: center;
    background-color: #333333;
    opacity: 0;
    border-radius: 0;
    border: none;
}
.infoBlock {
    margin: 50px 5px;
}
.infoBlock .userName {
    font-size: 30px;
    display: inline;
    color: darkred;
}
.infoBlock .userStatus {
    color: #616161;
    display: inline;
    margin-left: 10px
}
.infoBlock:hover .editInfoLink, .abilitiesBlock:hover .editAbilitiesLink {
    display: inline;
}
.editInfoLink, .editAbilitiesLink {
    float: right;
    text-decoration: underline;
    color: #848181;
    font-style: italic;
    margin-top: -40px;
    padding-left: 15px;
    background: url("../img/icons/pencil.png") left center no-repeat;
    background-size: 15px 15px;
}
.infoBlock .userAddress {
    font-size: 20px;
}
.infoBlock .userBirthdate {
    font-size: 18px;
}
.abilitiesBlock {
    float: left;
    width: 100%;
    margin-top: -20px;
}
.abilitiesLabel, .wishes_block th {
    padding-left: 20px;
    color: darkred;
    font-size: 24px;
}
.abilities {
    padding-left: 30px;
}
.wishes_block th {
    float: left;
    padding-left: 10px;
}
.wishes_block table {
    font-size: 20px;
}
.infoBlock .usersWishes, .infoBlock .wishesByUser {
    display: inline-block;
    text-decoration: none;
    color: #050505;
    font-size: 16px;
    width: 50px;
    height: 50px;
    padding: 5px;
    float: left;
}
.infoBlock .usersWishes {
    background: url("../img/icons/boxMy.png") top center no-repeat;
    background-size: 50px 50px;
}
.infoBlock .wishesByUser {
    background: url("../img/icons/boxOther.png") top center no-repeat;
    background-size: 50px 50px;
}
.sendMessageButton {
    float: left;
    font-size: 13px;
    margin-left: 15px;
}
/*Wishes*/
.deleteButton {

}
.cancelButton {

}
.fulfilledButton {

}

/*********Settings***************/
.changeEmail {
    width: 300px;
    float: left;
    margin-right: 15px;
}
.changePasswordBlock, .changeEmailBlock, .changePasswordButton, .changeEmailButton {
    margin: 15px;
}
.saveChangedPasswordButton {
    margin-top: 5px;
}

/*********Editing***************/
.cancelEditButton {
    float: left;
    margin-top: -57px;
}
.abilities_edit_form {
    padding-bottom: 100px;
}
.saveAbilitiesChangesButton {
    float: right;
    margin-top: 12px;
}
.cancelAbilitiesEditButton {
    float: left;
}
.abilities_textarea {
    min-width: 460px;
    max-width: 460px;
    height: 100px;
}

.formWishes {
    display: inline-block;
}
.searchField {
    display: inline-block;
    width: 200px;
}
.userColor {
    color: #9451ff;
}
.iconPhoto {
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
}
.currentPage {
    color: #298537;
}
