.logo {
    width: 60px;
    height: 60px;
    display: inline-block;
}
.lang {
    float: right;
    text-decoration: none;
    color: black;
    margin: 10px;
}
.lang:hover {
    color: firebrick;
}
.header_name {
    margin: 10px;
    font-size: 65px;
    color: orangered;
    display: inline-block;
}

.motto {
    font-size: 25px;
    margin: 0px 10px 10px 300px;
}
.userPhoto {
    display: inline-block;
    float: left;
    width: 200px;
    height: 200px;
}
#userPhoto {
    display: block;
    height: 250px;
    width: 100%;
}
#userPhoto:hover button {
    display: block;
}
.formWishes {
    display: inline-block;
}
.logout {
    margin-top: 20px;
    margin-right: 10px;
    float: right;
}
.searchField {
    display: inline-block;
    width: 200px;
}
.userColor {
    color: #9451ff;
}
.iconPhoto {
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
}

.currentPage {
    color: #298537;
}

input:invalid {
    border: solid 2px red;
}
.hidden {
    display: none;
}
nav li {
    display: inline-block;
}